[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/cli11"]
	path = ext/cli11
	url = https://github.com/CLIUtils/CLI11.git
